:root {
	--intro-email: hsl(217, 28%, 15%);
	--main-background: hsl(218, 28%, 13%);
	--footer-background: hsl(216, 53%, 9%);
	--testimonial-background: hsl(219, 30%, 18%);
	--cyan: hsl(176, 68%, 64%);
	--blue: hsl(198, 60%, 50%);
	--light-red: hsl(0, 100%, 63%);
	--white: hsl(0, 0%, 100%);
	--raleway: "Raleway", sans-serif;
	--open-sans: "Open Sans", sans-serif;
	--font-size: 100%;
}

@keyframes forward {
	0% { margin-left: 0; }
	50% { margin-left: 1rem; }
	100% { margin-left: 0; }
}

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.7;
	scroll-behavior: smooth;
}

body {
	background-color: var(--main-background);
	font-family: var(--open-sans);
	font-weight: 300;
}

body,
.btn,
.form-input,
.header,
.nav-link,
.link {
	font-size: var(--font-size);
}

body,
.nav-link {
	color: hsla(0, 0%, 100%, 80%);
}

header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 999999;
	padding: 1rem;
}

header,
.intro,
.email,
.nav-content {
	background-color: var(--intro-email);
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
	object-position: center;
	height: auto;
}

p {
	padding: .5rem 0 0;
}

footer {
	padding: 17rem 1rem 2rem;
	background-color: var(--footer-background);
}

#features {
	padding-top: 5rem;
}

#features,
.stay-productive.container {
	margin-bottom: 0;
}

#teams {
	padding-top: .1rem;
}

.header,
.name,
.nav-link:hover,
.btn,
.link:hover,
.footer-icons,
.active {
	color: var(--white);
}

.header:not(.main-headers) {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header {
    line-height: 1.5;
	font-size: 1.5rem;
}

.header,
.nav-link,
.btn,
.link {
    font-family: var(--raleway);
	font-weight: bold;
}

.btn {
	background: linear-gradient(to right, var(--cyan), var(--blue));
	padding: .7rem .5rem;
}

.btn,
.team-member,
.feature,
.link,
.link:hover .arrow-right,
.nav-content,
.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.footer-icons:hover,
.fab {
	transition: .5s;
	transform-origin: top center center center;
}

.btn,
.team-member:hover,
.feature:hover {
	cursor: pointer;
}

.btn,
.form-input {
	border: none;
	outline: none;
	border-radius: 5rem;
}

.btn:hover {
	background: var(--cyan);
	color: #000;
}

.form-input {
	padding: .7rem 1rem;
}

.form-input:focus {
	border: 1px solid rgba(138 173 229 / 50%);
	box-shadow: 0px 0px 0px 4px rgb(138 173 229 / 15%);
}

.form-input:invalid {
	box-shadow: 0 0 0 4px hsla(0, 100%, 63%, .4);
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.relative {
	position: relative;
}

.absolute {
    position: absolute;
}

.space-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.round,
.link:hover .arrow-right {
	border-radius: 50%;
}

.main-headers {
	font-size: 2rem;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.container:not(.intro) {
	margin-top: 5rem;
}

.container,
.intro,
.feature,
.teams {
	margin-bottom: 5rem;
}

.nav-item {
	list-style-type: none;
	margin: 2rem 1rem;
	font-size: 1.1rem;
}

.nav-item:first-child,
#features.container,
#teams.container {
    margin-top: 0;
}

.nav-link:hover,
.attribution a:hover,
.active {
	text-decoration: underline;
}

.nav-toggle-btn {
	padding: 1rem 0;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after {
	width: 35px;
	height: 1px;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.input-label,
footer .nav-link,
.nav-link {
	display: block;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.link:hover .arrow-right {
	background-color: var(--white);
}

.nav-toggle::before,
.nav-toggle::after {
	width: 17.5px;
	position: absolute;
	content: '';
}

.nav-toggle::before {
	top: -.7rem;
}

.nav-toggle::after {
	top: .7rem;
	left: 17.5px;
}

.nav-toggle-close .nav-toggle {
    background-color: transparent;
}

.nav-toggle-close .nav-toggle::before,
.nav-toggle-close .nav-toggle::after {
    top: 0;
	left: 0;
    width: 35px;
    transform: rotate(45deg);
}

.nav-toggle-close .nav-toggle::before {
    transform: rotate(-45deg);
}

.nav-content {
	right: 0;
	top: 4.3rem;
	width: 80%;
	height: 100vh;
	padding: 2rem 1rem;
	position: fixed;
	z-index: 1;
	transform: translateX(100%);
}

.nav-content-show {
	transform: translateX(0);
}

.intro {
	background-image: url(../images/bg-curvy-mobile.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.intro,
.stay-productive-img,
.btn,
.input-label,
.form-input {
    width: 100%;
}

.intro .btn {
	width: 90%;
}

.intro-img {
	padding-top: 5rem;
}

.intro-content img,
.intro-content .btn,
.feature-img,
.stay-productive-img,
.team-member {
	margin-bottom: 2rem;
}

.link {
	color: var(--cyan);
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--cyan);
}

.link:hover {
	border-bottom-color: var(--white);
}

.link:hover .arrow-right {
	animation: forward 1.5s infinite forwards linear;
}

.fr {
	font-size: 1.5rem;
	top: -.1vh;
}

.fi-rr-location-alt {
	top: .8vh;
}

.arrow-right {
	top: 1.6vh;
	height: 35px;
}

.feature-img {
	height: 80px;
}

.teams {
	margin-bottom: 20rem;
}

.team-member,
.footer-icons:hover {
	background-color: var(--testimonial-background);
}

.team-member {
	padding: 1rem 2rem 2rem;
}

.team-member,
.email {
	border-radius: .5rem;
}

.team-member:first-child {
	margin-top: 7rem;
}

.team-member:hover,
.feature:hover {
	transform: translateY(-10%);
}

.teams-quote {
	top: -2.3rem;
	left: 1rem;
	z-index: -1;
}

.team-member-details {
	margin-left: .7rem;
}

.email {
	width: 90%;
	left: 5%;
	padding: 2rem;
	top: -17rem;
}

.email p {
	margin-top: .5rem;
}

.form-container,
.footer-content-container div:nth-child(2),
.intro-content .btn,
.team-member .flex {
	margin-top: 1rem;
}

.input-label,
.footer-logo {
	margin-bottom: 1rem;
}

.footer-content-container p.flex {
	align-items: start;
	flex-wrap: nowrap;
}

.footer-content-container p.flex span {
	margin-left: 1.5rem;
}

.footer-content-container .nav-link {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
}

.footer-icons-container {
	flex-wrap: nowrap;
	place-content: center;
}

.footer-icons {
	border: 1px solid var(--white);
	padding: .3rem .66rem .3rem .77rem;
}

.footer-icons .fa-facebook-f {
	padding-left: .1rem;
	padding-right: .2rem;
}

.footer-icons .fa-instagram  {
	padding-right: .05rem;
}

.footer-icons:not(:first-child) {
	margin-left: 1rem;
}

.footer-icons:hover .fab {
	transform: scale(1.1);
} 

.attribution,
.footer-icons-container {
	margin-top: 2rem;
}

.attribution {
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {

	footer {
		padding-top: 15rem;
	}

	footer,
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.nav-content {
		width: 70%;
	}

	.intro .btn {
		width: 50%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen and (min-width: 400px) {
	.nav-content {
		width: 50%;
	}
}

@media only screen and (min-width: 500px) {

	footer {
		padding-top: 13rem;
	}

	footer,
	.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.nav-toggle-btn {
		display: none;
	}

    .nav-content {
        position: static;
        height: 0;
		padding: 0;
		margin: 0;
		width: auto;
		transform: translateX(0);
    }

	.nav-item {
		margin: 0;
		font-size: 100%;
	}

	.nav-item:not(:last-child) {
		padding-right: 5rem;
	}

	header.flex-column,
    .nav-content .flex,
	.form-container {
        flex-direction: row;
    }

	.email {
		top: -15rem;
	}

}

@media only screen and (min-width: 600px) {

	header {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	
	footer,
	.container {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}

}

@media only screen and (min-width: 700px) {

	footer,
	.container {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}

	.features,
	.stay-productive,
	.teams {
		margin-left: auto;
		margin-right: auto;
	}

	.features.container,
	.stay-productive.container,
	.teams.container {
		padding-left: 0;
		padding-right: 0;
	}

	.features,
	.teams {
		width: 80%;
	}

	.stay-productive {
		width: 90%;
	}

}

@media screen and (min-width: 800px) {

	.intro {
		padding-left: 15%;
		padding-right: 15%;
	}

	.features,
	.stay-productive {
		width: 100%;
	}

	.features,
	.stay-productive {
		padding-left: 0;
		padding-right: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 5rem;
	}

	.stay-productive.container {
		column-gap: 2rem;
		align-items: center;
	}

	.stay-productive .header {
		width: 80%;
		line-height: 1.3;
	}

	.form-container {
		justify-content: space-evenly;
	}

	.input-label {
		margin-top: 2rem;
		width: 60%;
	}

	.email .btn {
		margin-top: 1rem;
	}

	.email .btn {
		width: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

}

@media only screen and (min-width: 800px) and (max-width: 1023px) {

	.teams {
		width: 95%;
		display: grid;
		grid-template-areas: "first second"
							 "third third";
		grid-template-columns: repeat(2, 1fr);
		gap: 0 1rem;
	}

	#teams {
		padding-top: 7rem;
	}

	.team-member:first-child {
		grid-area: first;
		margin-top: 0;
	}

	.team-member:nth-child(2) {
		grid-area: second;

	}

	.team-member:last-child {
		grid-area: third;
		width: 50%;
		margin-left: 25%;
	}
}

@media only screen and (min-width: 1024px) {
	
	.email {
		width: 80%;
		left: 10%;
	}

	footer {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (min-width: 1024px) {

	header {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	#teams {
		padding-top: 7rem;
	}

	.header:not(.main-headers),
	.team-member:last-child {
		width: 100%;
	}

	.intro {
		padding-left: 0;
		padding-right: 0;
		background-image: url(../images/bg-curvy-desktop.svg);
		background-size: contain;
	}

	.features,
	.stay-productive,
	.teams,
	.footer-content-container {
		display: grid;
	}

	.stay-productive,
	.teams {
		align-items: center;
	}

	.features {
		width: 80%;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10rem;
	}
	
	.stay-productive,
	.teams,
	.footer-content-container {
		width: 90%;
	}

	.stay-productive {
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
	}

	.stay-productive .header,
	.intro-content {
		width: 50%;
	}

	.teams {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.team-member:first-child,
	.footer-content-container .nav-link,
	.footer-content-container div:nth-child(2),
	.footer-icons-container {
		margin-top: 0;
	}

	.teams-quote {
		left: -.4rem;
	}

	.email p {
		width: 80%; 
	}

	.form-container,
	.footer-content-container {
		margin-top: 2rem;
	}

	.input-label {
		margin-top: 1rem;
	}

	.footer-logo,
	.input-label {
		margin-bottom: 0;
	}

	.footer-logo {
		margin-left: 5%;
	}

	.footer-content-container {
		grid-template-columns: repeat(6, 1fr);
		gap: 2rem;
		align-items: start;
	}

	.footer-content-container p {
		padding: 0;
	}

	.footer-content-container > *:not(:first-child),
	.features,
	.stay-productive,
	.teams,
	.footer-content-container,
	.intro-content,
	.intro-content .btn,
	.email p {
		margin-left: auto;
		margin-right: auto;
	}

	.location {
		grid-column: 1 / 3;
	}
	
}

@media only screen and (min-width: 1200px) {

	.teams {
		width: 80%;
	}

	.email {
		width: 70%;
		top: -14rem;
		left: 15%;
		padding: 3rem 5rem;
	}

}